# Python
testni_venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# database/database.db <- uncomment to exclude dev DB from image

.git/
.gitignore

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db


Dockerfile
.dockerignore


tests/

uml_dijagrami/
*.md